<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="
    {{ url_for('static',
    filename='styles/slime.css') }}">
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
    <script type="text/babel" src="{{ url_for('static', filename='js/cell.js')}}"></script>

    <title>A L L A H U A B H A</title>
</head>
<body>
<h3> a l l a h ' u ' a  b h a </h3>

<div id="root"></div>
</body>
</html>