<!DOCTYPE html>


<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>
    <link rel="stylesheet" href="
    {{ url_for('static',
    filename='styles/template.css') }}">
    <script src="
            https://cdnjs.cloudflare.
            com/ajax/libs/p5.js/0.7.1/p5.min.js">
    </script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div>

    <!--                Tensor Calculator                  -->

    <div class="container">
        <h1 class="logo">TensorCalc2.2</h1>
    </div>
<!--    <div class= "container">-->
<!--        <h4 >unitary matrices</h4>-->
<!--        <ul>-->
<!--            <li>x: 0 1 1 0 </li>-->
<!--            <li>h: 1/root2(1, 1, 1, -1) </li>-->
<!--        </ul>-->
<!--    </div>-->
    <div class="container">
        <form action="/calc" method="POST">
<!--            <label for="Number One">enter tensor</label>-->
            <h4>enter tensor</h4>
            <p>1 0 0  1</p>
            <p>1 1 1 -1</p>
            <p>0 1 1  0</p>
            <input
                    type="text"
                    placeholder="tensor one"
                    class="u-full-width"
                    name="num1"/>
            <br>
            <h4>select operation</h4>

            <select class="custom-select" name="operation">
                <option value="unitarity">unitarity</option>
                <option value="eigenvalue">eigenvalue</option>
            </select>

            <input type="submit" value="Calculate" id="calc_btn" />
            <br />
            <br>

            <div class="alert">
                {{ array1 }}
                {{ sum }}
            </div>
        </form>
    </div>

<!--                 Tensor Animation                   -->

    <br>
    <h5 class="logo">matrix sliders</h5>
        <button onclick="newFunction()">pop</button>
<br>
    <br>
        <div id="wrapper">
            <div class="container3", id="myContainer3">
                <div class ="animator2", id="myAnimation2"></div>
            </div>
            <div class="container2", id="myContainer2">
                <div class ="animator", id="myAnimation"></div>
            </div>
        </div>
        <script src="{{ url_for('static',
      filename='js/matrixSliders.js') }}">
        </script>
        </div>


<!--        -->

<br>
<div>

<div class="p5Canvas" >
    <h5 class="logo">quantum score</h5>
<button onclick="newFunct()">oppy</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.js">
    </script>
    <script src="{{ url_for('static', filename='js/qs_wires.js') }}">
    </script>
    <div class="qops", id="myQops"></div>
    <script src="{{ url_for('static', filename='js/qs_ops.js')}}">

    </script>
        </div>
    <br>
    <!--            <div class="qOp" draggable="true"></div>-->
</div>


<!--                   Cell Adder                      -->

<!--        <div class="container">-->
<!--            <button onclick="myFunction()">cell</button>-->
<!--            <script type="text/javascript"-->
<!--                    src="{{ url_for('static', filename='js/creator1.js') }}">-->
<!--            </script>-->
<!--        </div>-->

    </div>
    </header>
  </body>


</html>
