<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>

    <link rel="stylesheet" href="{{ url_for('static',    filename='styles/template.css') }}">

</head>
  <body>
    <div>
      <div class="container">
        <h1 class="logo">Tensor Calculator 2.1</h1>
      </div>
      <div class= "container">
      <h2 >pauli matrices</h2>
        <ul>
          <li>x: 0 1 1 0 </li>
          <li>h: 1/root2(1, 1, 1, -1) </li>
        </ul>
      </div>

      <div class="container">
      <form action="/calc" method="POST">

        <label for="Number One">tensor </label>
        <input
          type="text"
          placeholder="tensor one"
          class="u-full-width"
          name="num1"/>

        <label for="Operation">operation </label>
        <select class="custom-select" name="operation">
          <option value="unitarity">unitarity</option>
          <option value="eigenvalue">eigenvalue</option>
        </select>

        <input type="submit" value="Calculate" id="calc_btn" />
        <br />

        <div class="alert">
          {{ array1 }}
          {{ sum }}
        </div>

      </form>
      </div>

      <div class="container">
        <button onclick="myFunction()">cell</button>
         <script type="text/javascript"
         src="{{ url_for('static', filename='js/features.js') }}">
         </script>
      </div>

    </div>
    </header>
  </body>
</html>
