

body {
     padding: 50px 30px 50px 80px;
     background-color: rgb(169, 252, 3);
     font-family: "Courier", courier-new, sans-serif;

 }

  h1 {
    background–color: purple;
  }
  h2 {
    color: brown;

  }

  p {
  color: Green;
  vertical-align:top;
}

input {
    border: 5px solid white;
    -webkit-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

.custom-select {
    font-family: Courier;
    padding: 14px;
}

button {

}

.logo {
    color: brown;
}

.container {

    padding: 9px;
    margin: 9px;
    position: relative;
    border-radius: 2%;
    rgb(201, 255, 38);
}

.animator {
    width: 180px;
    height:180px;
    border-radius: 20%;
    position: absolute;
    background-color: rgb(163, 166, 255);
    opacity: 60%;
    display: inline-block;
}


.animator2 {
    width: 180px;
    height:180px;
    border-radius: 20%;
    position: absolute;
    background-color: rgb(163, 166, 255);
    opacity: 60%;
    display: inline-block;

}


.container2 {
  width: 360px;
  height: 360px;
  border-radius: 10%;
  position: relative;
  background: navajowhite;
  display: inline-block;
  opacity: 60%;
}
.container3 {
  width: 360px;
  height: 360px;
  border-radius: 10%;
  position: relative;
  background: navajowhite;
  display: inline-block;
  opacity: 60%;
}


.wrapper {
    border: 1px orangered;
}

.p5Canvas {

    border-radius: 7%;
    width: 360px;
    opacity: 60%;
    }

.qops {
    border-color: lavender;
    border-style: solid;
    width: 27px;
    height:27px;
    border-radius: 25%;
    position: relative;
    background-color: rgb(163, 166, 255);
    opacity: 95%;
    display: inline-block;
}

.qops2 {
    left: 55px;
    border-color: #646cff;
    border-style: solid;
    width: 27px;
    height:27px;
    border-radius: 25%;
    position: relative;
    background-color: rgb(255, 147, 205);
    opacity: 81%;
    display: inline-block;
}

