<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>tensor calc</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

    <style>
      .alert {
        background: green;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }
    </style>
  </head>

  <body>
    <!-- The Tensor Multiplier -->
    <div class="container">
      <h4>tensor calculator</h4>
    </div>

    <!-- Form -->
    <div class="container">
      <form action="/send" method="POST">

        <label for="Number One">tensor one</label>
        <input
          type="text"
          placeholder="tensor one"
          class="u-full-width"
          name="num1"
        />

        <label for="Number Two">tensor two</label>
        <input
          type="text"
          placeholder="tensor two"
          class="u-full-width"
          name="num2"
        />

        <label for="Operation">Operation</label>
        <select class="u-full-width" name="operation">
          <option value="dot">dot</option>
          <option value="tensor">tensor</option>
          <option value="inner">inner product</option>
          <option value="outer">outer product</option>
        </select>

        <input type="submit" value="Calculate" id="calc_btn" />
        <br />
        <div class="alert">
          {{ array1 }}
          {{ array2 }}
          {{ sum }}
        </div>
      </form>
    </div>
  </body>
</html>