
.container2{

}

.root2 {
    font-family: 'VT323', sans-serif;
    top:600px;
    right: 180px;
    position: absolute;
}

h3 {

    margin-left: 3%;
    margin-top: 27px;
    opacity: 27%;
    position: absolute;
    padding-right: 9px;
    top: 19px;
    left: 9px;
    font-family: 'Montez', sans-serif;
    font-size: 33px;
    letter-spacing: 0px;
    transform: translateX(90px) scaleY(3) scaleX(3.6);
    background: -webkit-linear-gradient( #b3f542, #ffa0f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3b {
    margin-left: 3%;
    margin-top: 27px;
    /*color: rgb(255, 134, 7);*/
    opacity: 19%;
    position: absolute;
    padding-right: 9px;

    top: 19px;
    left: 9px;
    font-family: 'Montez', sans-serif;
    font-size: 33px;
    letter-spacing: 0px;
    transform: translateX(91px) scaleY(3) scaleX(3.6);
    background: -webkit-linear-gradient( #b3f542,#ffa0f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3c {
    margin-left: 3%;
    margin-top: 27px;
    color: rgb(168, 255, 0);
    opacity: 19%;
    position: absolute;
    padding-right: 9px;

    top: 19px;
    left: 9px;
    font-family: 'Montez', sans-serif;
    font-size: 33px;
    letter-spacing: 0px;
    transform: translateX(92px) scaleY(3) scaleX(3.6);

}

drop {
    opacity: 44%;
}