
.container2{

}

h3 {
    margin-left: 2.5%;
    margin-top: 27px;
    color: rgb(177, 255, 0);
    opacity: 36%;
    position: absolute;
    top: 19px;
    left: 9px;
    font-family: 'Montez', sans-serif;
    font-size: 36px;
    letter-spacing: 0px;
    transform: translateX(90px) scaleY(3) scaleX(3);

}
h3b {
    margin-left: 3%;
    margin-top: 27px;
    color: rgb(255, 134, 7);
    opacity: 44%;
    position: absolute;
    top: 19px;
    left: 9px;

    font-family: 'Montez', sans-serif;
    font-size: 36px;
    letter-spacing: 0px;
    transform: translateX(90px) scaleY(3) scaleX(3);

}
h3c {
    margin-left: 3%;
    margin-top: 19px;
    color: rgb(168, 255, 0);
    opacity: 19%;
    position: absolute;
    top: 27px;
    left: 9px;

    font-family: 'Montez', sans-serif;
    font-size: 36px;
    letter-spacing: 0px;
    transform: translateX(81px) scaleY(3) scaleX(3);
}

drop {
    opacity: 44%;
}