<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adnkr</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/template.css') }}">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
</head>
<body>

    <div><h1 class="logo">adinkras</h1></div>


</body>
</html>