<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="
    {{ url_for('static',
    filename='styles/template.css') }}">
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.min.js">
    </script>

  </head>

  <body>
    <div id="root">

      <script type="text/babel" src="{{ url_for('static', filename='js/adinkras/adinkra.js')}}"></script>

    </div>
  </body>
</html>